# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Raw datasets
data/raw/*
!data/raw/.gitkeep

# Processed datasets
data/processed/*
!data/processed/.gitkeep

# Exported reports
data/exports/*
!data/exports/.gitkeep